* {
  box-sizing: border-box;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  max-width: 900px;
  margin: auto;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 6px;
}
/* Search Bar --------------------- */

.searchBox {
  display: flex;
  justify-content: center;
}

#search {
  padding: 15px;
  border-radius: 5px;
  width: 50%;
  margin: 10px 0px;
}


 